



* {
    margin: 0;
}

@media (max-width: 1024px) {
    #card_job {
    min-width: 35vw;
    min-height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}

@media (max-width: 768px) {
    #card_job {
    min-width: 55vw;
    max-height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}